@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('assets/fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('assets/fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 5px;
    animation: fadein 1.2s;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

html {
    background-image: url('assets/images/mario_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 100%;
    font-family: 'arcadeclassicregular';
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}