<!--form [formGroup] = "nameForm" (ngSubmit)="onSubmit()">
	<label for="name">Enter your name: </label>


	<div class="success" *ngIf="success">form valid</div>

	<input type="" formControlName="name">

	<div *ngIf="submitted && nameForm.controls.name.errors.required" class="error">
		name is required...
	</div>

	<input type="submit" value="submit">
	
</form>>

-->



<form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
		<h1>It's-a me, Mario!</h1>
		<br>
		<input placeholder="Name" class="name-field" [formControl]="nameFormControl">
			
		<div class="error" *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
			Your name should be more than {{minNameLength}} characters long!
		</div>
		<div class="error" *ngIf="nameFormControl.hasError('required')">
			Name is required
		</div>
		<div class="compliment" *ngIf="!nameFormControl.hasError('required') && !nameFormControl.hasError('minlength')">
				Omg your name is so beautiful!
		</div>

	
	<input class="start-button" type="submit" value="Start">
</form>
