 

<app-player-info></app-player-info>


<div class="gametype-cards">

	<a class="gamecard" routerLink="/play/math">
		<h1>Math</h1>
		<img src="assets/images/mario_math.png" alt="mario math">
		<p>
			It's been so long since Mario went to school that he forgot how to count! Help him learn mathematics again!
		</p>
	</a>

	<a class="gamecard" routerLink="/play/reading">
		<h1>Reading</h1>
		<img src="assets/images/mario_reading.png" alt="mario math">
		<p>
			Mario just got an e-mail from his boss containing some Reading exercises. Help him solve it so he won't get fired!
		</p>
	</a>

	<a class="gamecard" routerLink="/play/math">
		<h1>Math</h1>
		<img src="assets/images/mario_math.png" alt="mario math">
		<p>
			Deja-vu..
		</p>
	</a>

</div>