 

<app-player-info></app-player-info>


<div class="gametype-cards">

	<a class="gamecard" routerLink="/play/math">
		<h1>Math</h1>
		<img src="assets/images/mario_math.png" alt="mario math">
		<p>
			Mario went on a holiday, but some cruel monsters ruined his vacation, now he wants to take 
			revenge! Help him destroy the monsters so he can get back to enjoy his freetime from
			all that plumming.
		</p>
	</a>

	<a class="gamecard" routerLink="/play/reading">
		<h1>Reading</h1>
		<img src="assets/images/mario_reading.png" alt="mario math">
		<p>
			Mario went on a holiday, but some cruel monsters ruined his vacation, now he wants to take 
			revenge! Help him destroy the monsters so he can get back to enjoy his freetime from
			all that plumming.
		</p>
	</a>

	<a class="gamecard" routerLink="/play/math">
		<h1>Math</h1>
		<img src="assets/images/mario_math.png" alt="mario math">
		<p>
			Mario went on a holiday, but some cruel monsters ruined his vacation, now he wants to take 
			revenge! Help him destroy the monsters so he can get back to enjoy his freetime from
			all that plumming.
		</p>
	</a>

</div>