.gametype-card {
	max-width: 200px;
	align-items: center;
	height: 500px;
}

.gametype-card:hover {
	cursor: pointer;
	background: lightgray;
}

.gametype-cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: space-between;
}